@using IndieWebGamesMVC.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginStyle.cshtml";
}

<div class="row">
    <div class="col-md-7">
        <div class="padding-all">
                <h2> @ViewBag.Title</h2>
            <br />
                <div class="design-w3l">
                    <div class="mail-form-agile">
                        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary("", new { @class = "text-danger" })

                            @Html.TextBoxFor(m => m.Username, new { @placeholder="Username"})
                            
                            @Html.PasswordFor(m => m.Password, new { @placeholder = "Password", @class = "padding" })

                            <input type="submit" value="Log in">
                        }
                    </div>
                    <div class="clear"> </div>
                </div>
        </div>
    </div>

    <br />
    <div class="col-md-5">
        <div class="padding-all">
            <h2>Login With:</h2>
            <br />
            <div class="mail-form-agile">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}