@model IndieWebGamesMVC.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_LoginStyle.cshtml";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new {role = "form" }))
{
    @Html.AntiForgeryToken()
    <br />
   <h2 class="text-center">Create a new account.</h2>
   <h4 class="text-center">Enjoy!</h4>

    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="padding-all col-lg-offset-2">
        <div class="design-w3l">
            <div class="mail-form-agile">
                        @Html.TextBoxFor(m => m.Name, new { @class = "padding", @placeholder = "Username" })

                        @Html.TextBoxFor(m => m.Email, new { @class = "padding", @placeholder="Email"})

                        @Html.PasswordFor(m => m.Password, new { @class = "padding", @placeholder = "Password" })
                 
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "padding", @placeholder = "Confirm Password" })
 
                <div class="form-group">
                    <div class="">
                        <input type="submit" value="Register" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"> </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
