@using Microsoft.AspNet.Identity
@using IndieWebGamesMVC.Models
@using Microsoft.Owin.Security
@{
    ViewBag.Token = Html.AntiForgeryToken();
}
<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Indie Web Games, IndieWebGames, Online Games, Games, Gaming" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/api")

    <div pub-key="pub-c-60960c01-6e08-4723-a808-e435878f9079" sub-key="sub-c-d0856b94-be43-11e7-b0ca-ee8767eb9c7d" id="pubnub"></div>
   
    <script src="http://cdn.pubnub.com/pubnub-3.1.min.js"></script>
    <script src="http://pubnub.github.io/angular-js/scripts/pubnub-angular.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Indie Web Games", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse" ng-controller="addUser">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()

                        <span hidden id="name">@User.Identity.GetUserName()</span>
                        <span hidden id="userid">@User.Identity.GetUserId()</span>

                        <ul class="nav navbar-nav navbar-right" ng-controller="addUser" ng-init="online('@User.Identity.GetUserName()')">
                            <li>
                                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                            </li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
                        </ul>
                    }
                   
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li><a data-toggle="modal" data-target="#at-login">Login</a></li>
                        <li><a data-toggle="modal" data-dismiss="modal" data-target="#at-signup-filling">Register</a></li>
                    </ul>
                }
            </div>
        </div>
    </div>
        <accounts></accounts>
    
        @if (Request.IsAuthenticated)
        {
            <user-selection></user-selection>
        }
        else
        {
            <br />
            <center><h1>Indie Web Games</h1></center>
        }

</body>
</html>
